body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto';
  font-weight: 500;
  font-style: normal;
}

.conteiner {
  width: 1170px;
  margin-right: auto;
  margin-left: auto;
}

a {
  text-decoration: none;
}
header a {
  color: #212121;
}
.site-nav {
  display: flex;
}
ul.site-nav {
  margin-right: auto;
}
.site-nav li {
  list-style-type: none;
  margin-right: 50px;
}
.site-nav .item:last-child {
  margin-right: 0;
}

.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  margin-right: 93px;
  padding-top: 25px;
  padding-bottom: 25px;
}
.logo-color {
  color: #2196f3;
}

.navi {
  display: flex;
  align-items: center;
}
.menu a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
}
.menu a:hover,
:focus {
  color: #2196f3;
}
.contacts {
  display: flex;
}
.contacts li {
  color: #757575;
  list-style-type: none;
  margin-right: 50px;
}
.contacts .item:last-child {
  margin-right: 0;
}
.contacts a {
  color: #2196f3;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.bord {
  background-color: #2f303a;
  display: block;
  padding-bottom: 200px;
}

h1 {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 20px;
}
h1 p {
  color: #ffffff;
  font-size: 44px;
  line-height: 1.36;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  background-color: #2196f3;
  text-align: center;
  padding: 10px 32px 10px 32px;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}
.list {
  display: flex;
  list-style-type: none;
}
.list .item:last-child {
  margin-right: 0px;
}

.photos li {
  display: inline-block;
  margin-right: 26px;
}
ul.photos {
  margin-bottom: 94px;
}
.list li {
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  margin-right: 30px;
  margin-top: 94px;
  width: 270px;
  letter-spacing: 0.03em;
}
.list p {
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}
h2 {
  text-align: center;
  margin-top: 94px;
  margin-bottom: 50px;
  font-size: 34px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
}
.photos .item:last-child {
  margin-right: 0;
}

h3 {
  text-align: center;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}
.command li {
  display: inline-block;
  margin-right: 26px;
  background-color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.sec-3 {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}
.command .item:last-child {
  margin-right: 0;
}
.command p {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 30px;
  margin-bottom: 10px;
}
.command p:nth-child(3) {
  color: #757575;
  letter-spacing: 0.03em;
  font-size: 16px;
  line-height: 1.19;
  font-weight: normal;
  margin: 0;
  margin-bottom: 30px;
}
.command img {
  height: 260px;
}
footer {
  background-color: #2f303a;
  color: rgba(255, 255, 255, 0.6);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
}
ul.footer-text {
  padding-top: 60px;
  padding-bottom: 60px;
}
.adress-foot {
  margin-top: 20px;
}
.footer-text li {
  list-style-type: none;
  margin-top: 9px;
}
footer a {
  color: white;
  font-family: Raleway;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.footer-logo {
  color: #2196f3;
}

.adress-foot {
  color: white;
}
