body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto';
  font-weight: 500;
  font-style: normal;
}

.conteiner {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

a {
  text-decoration: none;
}

header a {
  color: #212121;
}
.site-nav {
  display: flex;
  margin-top: 32px;
}
ul.site-nav {
  margin-right: auto;
}
.item-nav {
  list-style-type: none;
  margin-right: 50px;
}
.item-nav:last-child {
  margin-right: 0;
}

.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  margin-right: 93px;
  margin-top: 25px;
  margin-bottom: 25px;
}
.logo:hover,
.logo:focus {
  color: #2196f3;
  outline: none;
}
.logo-color {
  color: #2196f3;
}

.navi {
  display: flex;
  align-items: center;
}
.menu a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
}
.nav-link {
  padding-bottom: 32px;
}
.nav-link:hover,
.nav-link:focus {
  color: #2196f3;
  outline: none;
}
.nav-link::after {
  display: block;
  content: '';
  display: block;
  margin-top: 32px;
  width: 100%;
  height: 4px;
}

a.active {
  border-bottom: 4px solid #2196f3;
  border-radius: 2px;
}
.contacts {
  display: inline-flex;
}
.contacts li {
  list-style-type: none;
}
.itemsmart {
  color: #757575;
}
.itemmail {
  color: #757575;
  margin-right: 50px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.icon-head1 {
  width: 16px;
  height: 12px;
  fill: #757575;
  margin-right: 10px;
}

.icon-head2 {
  width: 10px;
  height: 16px;
  fill: #757575;
  margin-right: 10px;
}

.contacts .item:last-child {
  margin-right: 0;
}

.itemmail:hover,
.itemmail:focus,
.itemmail:hover .icon-head1,
.itemmail:focus .icon-head1 {
  color: #2196f3;
  fill: #2196f3;
  outline: none;
}

.itemsmart:hover,
.itemsmart:focus,
.itemsmart:hover .icon-head2,
.itemsmart:focus .icon-head2 {
  color: #2196f3;
  fill: #2196f3;
  outline: none;
}

.bord {
  background-blend-mode: multiply;
  max-width: 1600px;
  max-height: 600px;
  background-color: rgba(47, 48, 58, 0.4);
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 200px;
  background-image: url('../img/Hero.jpg');
  background-position: center;
}

h1 {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 20px;
}
h1 p {
  color: #ffffff;
  font-size: 44px;
  line-height: 1.36;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  background-color: #2196f3;
  text-align: center;
  padding: 10px 32px 10px 32px;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
}
h2 {
  display: none;
  text-align: center;
}
.list {
  display: flex;
  list-style-type: none;
  width: 1170px;
  height: 251px;
}
.item2:last-child {
  margin-right: 0px;
}
.sec-2 {
  padding-top: 94px;
}
.li-sec2 {
  width: 270px;
  height: 251px;
  margin-right: 30px;
}

.photos li {
  display: inline-block;
  margin-right: 30px;
}

.block-sec2 {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}
.icon-sec2 {
  width: 70px;
  height: 70px;
  margin-left: 102px;
  margin-top: 25px;
}
.text-sec2 {
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
  letter-spacing: 0.03em;
}
.text2-sec2 {
  color: #757575;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
h3 {
  text-align: center;
  font-size: 34px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.photos .item:last-child {
  margin-right: 0;
}

h4 {
  text-align: center;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}
.sec-3 {
  padding-top: 94px;
  padding-bottom: 94px;
}
.command {
  display: flex;
  width: 1200px;
}
.person {
  width: 270px;
  height: 428px;
  margin-right: 26px;
  background-color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  list-style: none;
}

.social {
  display: inline-block;
  margin-right: 10px;
}
.social:last-child {
  margin-right: 0px;
}
.media-block {
  display: block;
  border-radius: 50%;
  width: 44px;
  height: 44px;
}
.media-icon {
  margin-top: 12px;
}
.media-block:hover,
.media-block:focus,
.media-block:hover .media-icon,
.media-block:focus .media-icon {
  background-color: #2196f3;
  fill: white;
  outline: none;
}
.sec-4 {
  padding-top: 94px;
  background-color: #f5f4fa;
  padding-bottom: 94px;
}
.command .item:last-child {
  margin-right: 0;
}
.com-text {
  font-family: 'Roboto';
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 30px;
  margin-bottom: 10px;
}
.com-text2 {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #212121;
}
.command p:nth-child(3) {
  color: #757575;
  letter-spacing: 0.03em;
  font-size: 16px;
  line-height: 1.19;
  font-weight: normal;
  margin: 0;
  margin-bottom: 16px;
}
.command img {
  height: 260px;
}
.social-icon {
  text-align: center;
}
.media-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

h5 {
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.item-partner {
  display: flex;
  margin-right: 30px;
}
.item-partner:last-child {
  margin-right: 0;
}
.listpartner {
  display: flex;
}
.partner-icon {
  height: 60px;
  width: 106px;
  padding-left: 32px;
  padding-top: 16px;
  fill: #afb1b8;
}
.partner-link {
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
}
.partner-link:hover,
.partner-link:focus,
.partner-link:hover .partner-icon,
.partner-link:focus .partner-icon {
  fill: #2196f3;
  border-color: #2196f3;
  outline: none;
}
.sec-5 {
  padding-bottom: 94px;
  padding-top: 94px;
}
footer {
  background-color: #2f303a;
}
.footer-block {
  display: flex;
}
.footer-text {
  display: block;
  padding-top: 60px;
  padding-bottom: 60px;
}
.adress-foot {
  margin-bottom: 9px;
}
.invite {
  display: block;
  padding-top: 72px;
  padding-left: 70px;
}
.soc-footer {
  display: inline-flex;
}
.soc-item {
  list-style-type: none;
  margin-right: 10px;
}
.footer-text li {
  list-style-type: none;
}
.footer-input-form {
  padding-top: 72px;
  padding-left: 93px;
}
.footer-input-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
  color: #ffffff;
}
.footer-input-field {
  width: 342px;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 0px 0px 0px 16px;
  margin-right: 12px;
  color: white;
}
.footer-input-field::placeholder {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-butt {
  width: 200px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 28px 10px 29px;
  padding-right: 62px;
}
.blart-text {
  width: 143px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  /* identical to box height, or 187% */
  letter-spacing: 0.06em;
  cursor: pointer;
  color: #ffffff;
  text-align: left;
}
.footer-blart {
  width: 32px;
  height: 32px;
  position: absolute;
  margin-left: 10px;
}
.footer-link1 {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: white;
}
.logo-footer {
  margin-bottom: 20px;
}
.text-footer {
  color: white;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.footer-info {
  color: rgba(255, 255, 255, 0.6);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.footer-icon {
  fill: white;
  width: 20px;
  height: 20px;
  margin-top: 12px;
  margin-left: 12px;
}
.footer-link {
  display: block;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-link:hover,
.footer-link:focus {
  background-color: #2196f3;
  outline: none;
}
.footer-logo {
  color: #2196f3;
}

.adress-foot {
  color: white;
}

.footer-info:hover,
.footer-info:focus {
  color: #2196f3;
}
.head-line2 {
  border-bottom: 1px solid #ececec;
}
.sec2-pfolio {
  text-align: center;
  padding-bottom: 61px;
  padding-top: 94px;
}
.menu-pfolio {
  display: inline-flex;
  list-style-type: none;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  height: 54px;
  margin-bottom: 34px;
}
.navlink-pfolio {
  color: #212121;
  margin-right: 8px;
  padding: 6px 22px 6px 22px;
  background: #f5f4fa;
  border-radius: 4px;
}
.navlink-pfolio.test {
  background-color: red;
}
.navilink-pfolio:last-child {
  margin-right: 0;
}
.navlink-pfolio:hover,
.navlink-pfolio:focus {
  background-color: #2196f3;
  color: white;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
tbody {
  display: flex;
}
.table_block {
  display: inline-table;
  text-align: left;
  height: 404px;
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.contentpfolio {
  display: flex;
  max-width: 1200px;
  flex-wrap: wrap;
}
.content-link-pfolio {
  display: block;
  width: 370px;
  height: 404px;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}
.slide-block {
  display: block;
  position: relative;
  width: 100%;
  height: 294px;
  overflow: hidden;
}
.content-link-pfolio:hover {
  box-shadow: 0px 1px 1px #0000001f, 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.content-link-pfolio:hover .content-slide {
  opacity: 1;
  transform: translateY(-297px);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.content-slide {
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 1;
  width: 370px;
  height: 294px;
  position: absolute;
}

.text-slide {
  color: rgba(255, 255, 255, 1);
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  text-align: left;
  letter-spacing: 0.03em;
  font-family: 'Roboto';
  padding: 63px 24px 63px 24px;
}

.line-table:nth-child(3n) {
  margin-bottom: 0;
}
.content-text {
  padding: 20px 24px 20px 24px;
  list-style-type: none;
}
.content-text1-pfolio {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}
.content-text2-pfolio {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: #757575;
}

.backdrop {
  visibility: visible;
  background-color: #ffffff;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.backdrop.is-hidden {
  visibility: hidden;
}
.button-close {
  position: fixed;
  right: 0px;
  margin-top: 8px;
  margin-right: 8px;
  background-color: white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  cursor: pointer;
}
.button-close:focus,
.button-close:hover {
  fill: #2196f3;
}
.modal-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}
.modal-conteiner {
  padding: 40px 39px 40px 41px;
}
.form-lable {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  /* identical to box height */
  letter-spacing: 0.01em;

  color: #757575;
}
.coment-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  /* identical to box height, or 171% */

  letter-spacing: 0.03em;

  color: #757575;
}

.modal-text-span {
  text-decoration-line: underline;

  color: #2196f3;
}
.icon-modal {
  width: 32px;
  height: 32px;
  position: absolute;
  left: 55px;
  padding-top: 11px;
}
.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-left: 42px;
}
.form-lable {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  margin-bottom: 4px;
  letter-spacing: 0.01em;

  color: #757575;
}
.form-input:focus + .icon-modal {
  fill: #2196f3;
}
.form-input:focus {
  border: 1px solid #2196f3;
  outline: none;
}
.coment-form {
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 16px 12px 16px;
  margin-bottom: 20px;
}
.form-field {
  margin-bottom: 10px;
}
.coment-form::placeholder {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-butt {
  display: block;
  margin-right: auto;
  margin-left: auto;
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 10px 55px 10px 56px;
  border-color: transparent;
}
.send {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  /* identical to box height, or 187% */

  display: flex;
  letter-spacing: 0.06em;
  cursor: pointer;
  color: #ffffff;
}
.check-mark {
  margin-bottom: 30px;
}
.coment-form:focus {
  border: 1px solid #2196f3;
  outline: none;
}
.footer-input-field:focus {
  border: 1px solid #2196f3;
  outline: none;
}
