body,
h1,
h2,
h3,
h4,
h5,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto';
  font-weight: 500;
  font-style: normal;
}

.conteiner {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
}

a {
  text-decoration: none;
}
header a {
  color: #212121;
}
.site-nav {
  display: flex;
}
ul.site-nav {
  margin-right: auto;
}
.site-nav li {
  list-style-type: none;
  margin-right: 50px;
}
.site-nav .item:last-child {
  margin-right: 0;
}

.logo {
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  margin-right: 93px;
  padding-top: 25px;
  padding-bottom: 25px;
}
.logo-color {
  color: #2196f3;
}

.navi {
  display: flex;
  align-items: center;
}
.menu a {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.17;
}
.menu a:hover,
:focus {
  color: #2196f3;
}
.contacts {
  display: inline-flex;
}
.contacts li {
  list-style-type: none;
}
.contacts a {
  color: #757575;
  margin-right: 50px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contacts .item:last-child {
  margin-right: 0;
}

.itemmail .icon {
  display: inline-flex;
  background-size: contain;
  content: '';
  height: 12px;
  width: 16px;
  margin-right: 10px;
  background-image: url('../img/SVG/envelope.svg');
  background-repeat: no-repeat;
  background-position: center;
}
.itemsmart .icon {
  display: inline-flex;
  background-size: contain;
  content: '';
  height: 16px;
  width: 10px;
  margin-right: 10px;
  background-image: url('../img/SVG/smartphone.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.contacts a:hover,
:focus {
  color: #2196f3;
}

.bord {
  background-blend-mode: multiply;
  max-width: 1600px;
  max-height: 600px;
  background-color: rgba(47, 48, 58, 0.4);
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 200px;
  margin-bottom: 94px;
  background-image: url('../img/Hero.jpg');
  background-position: center;
}

h1 {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 20px;
}
h1 p {
  color: #ffffff;
  font-size: 44px;
  line-height: 1.36;
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 4px;
  background-color: #2196f3;
  text-align: center;
  padding: 10px 32px 10px 32px;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}
h2 {
  display: none;
  text-align: center;
}
.sec-2 {
  margin-bottom: 94px;
}
.list {
  display: flex;
  list-style-type: none;
}
.item2:last-child {
  margin-right: 0px;
}

.item2::before {
  display: block;
  content: '';
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 30px;
}
.item2:nth-child(1):before {
  background-image: url('../img/SVG/antenna\ 1.svg');
}
.item2:nth-child(2):before {
  background-image: url('../img/SVG//clock\ 1.svg');
}
.item2:nth-child(3):before {
  background-image: url('../img/SVG/diagram\ 1.svg');
}
.item2:nth-child(4):before {
  background-image: url('../img/SVG/astronaut\ 1.svg');
}
.photos li {
  display: inline-block;
  margin-right: 30px;
}

.list li {
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  margin-right: 30px;
  width: 270px;
  letter-spacing: 0.03em;
}
.list p {
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}
h3 {
  text-align: center;
  font-size: 34px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.photos .item:last-child {
  margin-right: 0;
}

h4 {
  text-align: center;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
}
.sec-3 {
  margin-bottom: 94px;
}
.command li {
  display: inline-block;
  margin-right: 26px;
  background-color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.command .item:after {
  display: block;
  content: '';
  height: 44px;
  border-radius: 4px;
  background-position: 49px, 98px, 157px, 206px;
  background-image: url('../img/SVG/instagram\ 2.svg'), url('../img/SVG/twitter\ 1.svg'),
    url('../img/SVG/facebook\ 1.svg'), url('../img/SVG/linkedin\ 1.svg');
  background-repeat: no-repeat;
  margin-bottom: 30px;
  margin-right: 10px;
}
.sec-4 {
  padding-top: 94px;
  background-color: #f5f4fa;
  padding-bottom: 94px;
}
.command .item:last-child {
  margin-right: 0;
}
.command p {
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 30px;
  margin-bottom: 10px;
}
.command p:nth-child(3) {
  color: #757575;
  letter-spacing: 0.03em;
  font-size: 16px;
  line-height: 1.19;
  font-weight: normal;
  margin: 0;
  margin-bottom: 16px;
}
.command img {
  height: 260px;
}

h5 {
  text-align: center;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  padding-top: 94px;
  margin-bottom: 50px;
}

.listpartner li {
  display: inline-flex;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  margin-right: 30px;
  margin-bottom: 94px;
}
.item-partner:last-child {
  margin-right: 0;
}

.item-partner {
  content: '';
  height: 92px;
  width: 170px;
  display: block;
  background-position: center;
  background-repeat: no-repeat;
}
.item-partner:nth-child(1) {
  background-image: url('../img/svgpartn/partn1.svg');
}
.item-partner:nth-child(2) {
  background-image: url('../img/svgpartn/partn2.svg');
}
.item-partner:nth-child(3) {
  background-image: url('../img/svgpartn/partn3.svg');
}
.item-partner:nth-child(4) {
  background-image: url('../img/svgpartn/partn4.svg');
}
.item-partner:nth-child(5) {
  background-image: url('../img/svgpartn/partn5.svg');
}
.item-partner:nth-child(6) {
  background-image: url('../img/svgpartn/partn6.svg');
}
.list footer {
  background-color: #2f303a;
  color: rgba(255, 255, 255, 0.6);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
}
footer {
  background-color: #2f303a;
}
ul.footer-text {
  padding-top: 60px;
  padding-bottom: 60px;
}
.adress-foot {
  margin-top: 20px;
}
.footer-text li {
  list-style-type: none;
  margin-top: 9px;
}
footer a {
  color: rgba(255, 255, 255, 0.6);
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
a.footer-link {
  color: white;
  font-size: 26px;
  line-height: 1.19;
  font-weight: bold;
}
.footer-logo {
  color: #2196f3;
}

.adress-foot {
  color: white;
}
footer a:hover,
:focus {
  color: #2196f3;
}
